<link rel="stylesheet" href="/css/users_profile.css">
    <h1>Codeal /<%= title%></h1>

    <img src="<%= user.avatar %>" alt="<%= user.name %>" width="100">

    <% if(user.id == profile_user.id){ %>
        
        <!-- if user matches then show the form -->
        <form action="/users/update/<%= profile_user.id %>" enctype="multipart/form-data" method="post">
            <input type="text" name="name" placeholder="Your Name" value="<%= profile_user.name%>" required>
            <input type="email" name="email" placeholder="Your Email" value="<%= profile_user.email%>" required><br>

            <input type="file" name="avatar" placeholder="Profile Picture"><br>
            <input type="submit" value="update">
        </form>
    <% }else{ %>
       <!-- else show only the profile info -->
       <h1><%= profile_user.name %></h1>
       <h1><%= profile_user.email %></h1>
    
   

    <% } %>
  